*.a
*.o

Makefile
agent/.deps/
agent/Makefile
agent/gpg-agent
agent/gpg-preset-passphrase
agent/gpg-protect-tool
agent/t-protect
common/.deps/
common/Makefile
common/t-ccparray
common/t-convert
common/t-exechelp
common/t-exectool
common/t-gettime
common/t-iobuf
common/t-mapstrings
common/t-mbox-util
common/t-name-value
common/t-openpgp-oid
common/t-percent
common/t-recsel
common/t-session-env
common/t-sexputil
common/t-ssh-utils
common/t-stringhelp
common/t-strlist
common/t-sysutils
common/t-timestuff
common/t-zb32
common/w32info-rc.h
config.h
config.log
config.status
dirmngr/.deps/
dirmngr/Makefile
dirmngr/dirmngr
dirmngr/dirmngr-client
dirmngr/dirmngr_ldap
dirmngr/t-ldap-parse-uri
doc/Makefile
doc/addgnupghome.8
doc/applygnupgdefaults.8
doc/defs.inc
doc/dirmngr-client.1
doc/dirmngr.8
doc/gnupg.7
doc/gpg-agent.1
doc/gpg-connect-agent.1
doc/gpg-preset-passphrase.1
doc/gpg-wks-client.1
doc/gpg-wks-server.1
doc/gpg.1
doc/gpgconf.1
doc/gpgparsemail.1
doc/gpgsm.1
doc/gpgtar.1
doc/gpgv.1
doc/mkdefsinc
doc/scdaemon.1
doc/symcryptrun.1
doc/watchgnupg.1
doc/yat2m-stamp
g10/.deps/
g10/Makefile
g10/gpg
g10/gpg.w32-manifest
g10/gpgv
g10/t-keydb
g10/t-keydb-get-keyblock
g10/t-rmd160
g10/t-stutter
g13/.deps/
g13/Makefile
kbx/.deps/
kbx/Makefile
kbx/kbxutil
m4/Makefile
po/Makefile
po/Makefile.in
po/POTFILES
scd/.deps/
scd/Makefile
scd/scdaemon
sm/.deps/
sm/Makefile
sm/gpgsm
stamp-h1
tests/.deps/
tests/Makefile
tests/asschk
tests/gpg-agent.conf
tests/gpgme/Makefile
tests/gpgscm/.deps/
tests/gpgscm/Makefile
tests/gpgscm/gpgscm
tests/gpgscm/t-child
tests/gpgsm.conf
tests/gpgsm/Makefile
tests/inittests.stamp
tests/migrations/Makefile
tests/openpgp/.deps/
tests/openpgp/Makefile
tests/openpgp/fake-pinentry
tests/pkits/Makefile
tests/pkits/gpg-agent.conf
tests/pkits/gpgsm.conf
tests/pkits/inittests.stamp
tests/pkits/policies.txt
tests/pkits/testdir.stamp
tests/pkits/trustlist.txt
tests/private-keys-v1.d/
tests/pubring.kbx
tests/pubring.kbx~
tests/testdir.stamp
tests/trustlist.txt
tools/.deps/
tools/Makefile
tools/clean-sat
tools/gpg-check-pattern
tools/gpg-connect-agent
tools/gpg-wks-client
tools/gpg-zip
tools/gpgconf
tools/gpgparsemail
tools/gpgsplit
tools/gpgtar
tools/make-dns-cert
tools/watchgnupg
